@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #d61f04;
    --secondary: #fa8600;
    --accent: #156FE0;
    --accent-light: #58a3eb;
    --dark: #000f19;
    --light: #fcfcfa;
    --secondary-light: #fbae55;

    --orange-gradient-background: linear-gradient(to right, var(--secondary), var(--secondary-light));

}

body{
}

section{

}

h1, h2, h3, h4, h5, h6{
    @apply font-semibold;
}

h1{

}

.btn, button{
    @apply font-sans px-6 py-3 rounded-full text-light font-semibold border-primary border
    mx-1;
    background: var(--orange-gradient-background);
}

input, textarea{
    @apply border border-accent_light p-4 rounded-xl w-full max-w-96 focus:outline-none;
}

label{
    @apply font-semibold;
}

.sidebar .open{
    transform: translateX(0%);
    transition: ease-in-out 0.2s;
}

.sidebar .close{

    transform: translateX(-100%);
    transition: ease-in-out 0.2s;

}

.loader .loader-bg{
    background: linear-gradient(to right, lightgrey , rgb(255, 255, 255), lightgrey );
    animation: shine 2.5s linear infinite;
}

@keyframes shine{

    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }

}

.card{
    @apply p-6 shadow-md shadow-accent_light rounded-2xl flex flex-col 
    justify-between items-center min-w-80 max-w-96 border;
}

.box{
    @apply p-5 shadow-md shadow-accent_light rounded-2xl flex flex-col justify-between items-center min-w-36 max-w-96
    border;
}

.dialog::backdrop{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
}

.dialog{
    @apply flex-col justify-center p-6 bg-light shadow-md shadow-accent_light relative 
    left-[50%] top-[1/2] -translate-x-[50%] -translate-y-[50%] rounded-2xl w-2/3 max-w-96;
}

.settings .profile-settings li{
    @apply flex px-5 h-16 items-center hover:text-light hover:bg-accent_light;
}

.settings .profile-settings li i{
    @apply mx-3;
}

.settings .profile-settings>p{
    @apply bg-gray-100 px-5 text-sm text-gray-400;
}

.settings .profile-settings .setting-item{
    @apply xl:rounded-md xl:mx-4;
}

.profile form *{
    @apply my-5;
}



/* Explore Page Style*/

.explore-body .slider, .course-page .slider{
    background-image: linear-gradient(to top,white 5%, lightblue, white 50%);
}

@media (min-width: 1280px){
.course-page .slider{
    background-image: none;
}}

.explore-heading-wrapper, .course-heading-wrapper{
    @apply items-center flex w-full justify-between px-5;
}

.explore-heading-wrapper .explore-heading, .course-heading-wrapper .course-heading{
    @apply flex items-center ;
}

.explore-heading-wrapper .explore-heading .explore-heading-text{
    @apply py-3;
}

.explore-heading-wrapper .explore-heading i, .course-heading-wrapper .course-heading i{
    font-size: large;
    margin: 8px;
}

.explore-heading-wrapper a, .course-heading-wrapper a{
    @apply text-gray-500;
}

@media (max-width: 1280px){
.explore-body>div>.slider, .course-page div>.slider{
    
    scrollbar-width: none;
    @apply flex gap-4 overflow-scroll p-5 ; 
}}

.explore-body>div>.slider, .course-page div>.slider{
    
    scrollbar-width: 2px;
    @apply gap-4 overflow-x-scroll overflow-y-hidden p-5 ; 
}

@media (max-width: 1280px){
.explore-body>div>.slider::-webkit-scrollbar, .course-page div>.slider::-webkit-scrollbar {
    display: none;
  }}

  .explore-body>div>.slider::-webkit-scrollbar, .course-page div>.slider::-webkit-scrollbar {
    scrollbar-width: 2px;
  }

  .explore-body>div>.slider .card, .explore-body>div>.slider .box, .course-page div>.slider .card{
    @apply bg-white;
  }

  /*Course Page*/

  
  @media (max-width: 1280px) {
  .course-page header{
    background-image: linear-gradient(to bottom, #313030,#ffffff00 80%);
    background-color: transparent;
    border: none;
    color: var(--light);

  }}

  .course-page .lecture, .edit-module .lecture{
    @apply flex items-center;
  }

  .course-page .module .all-lectures.close, .edit-module .module .all-lectures.close{
    overflow: hidden;
    max-height: 0;
    opacity: 0;
  }

  .course-page .module .all-lectures.open, .edit-module .module .all-lectures.open{
    max-height: auto;
    opacity: 1;
  }

  

  .course-page .lecture a.lecture-name, .edit-module .lecture a.lecture-name{
    @apply p-4;
  }
  .course-page .lecture a.image-wrapper, .edit-module .lecture a.image-wrapper{
    @apply flex rounded-md h-9 items-center overflow-clip;
  }

  .course-page .lecture img, .edit-module .lecture img{
    @apply min-w-16 w-16;
  }

  /*Course Page Edit Styles*/

  .course-page .course-content span {
    @apply bg-light rounded-full border-2 border-gray-300 py-1 shadow-md;
  }

  .course-page .tick-button, .course-page .edit-button, .course-page .close-button{
    @apply p-0 bg-none border-none h-min flex items-center;
  }

  .course-page span:has(.edit-button){
  @apply absolute  text-accent -top-6 -right-6;
  }

  .course-page span:has(.tick-button){
    @apply absolute  text-accent -top-4 right-6;
    }

.course-page span:has(.close-button){
        @apply absolute  text-accent -top-4 -right-6;
    }

.course-page input, .course-page textarea{
    @apply border-none focus:outline-none py-2 px-0 w-full;
}

/*Role Page Style*/

.role button{
    @apply rounded-3xl
}

/*New Module Page Style*/

