@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #d61f04;
    --secondary: #fa8600;
    --accent: #156FE0;
    --accent-light: #58a3eb;
    --dark: #000f19;
    --light: #fcfcfa;
    --secondary-light: #fbae55;

    --orange-gradient-background: linear-gradient(to right, var(--secondary), var(--secondary-light));

}

body{
}

section{

}

h1, h2, h3, h4, h5, h6{
    @apply font-semibold;
}

h1{

}

.btn, button{
    @apply font-sans px-6 py-3 rounded-full text-light font-semibold border-primary border
    mx-1;
    background: var(--orange-gradient-background);
}

input{
    @apply border border-accent_light p-4 rounded-xl w-full max-w-96;
}

.sidebar .open{
    transform: translateX(0%);
    transition: ease-in-out 0.2s;
}

.sidebar .close{

    transform: translateX(-100%);
    transition: ease-in-out 0.2s;

}

.loader .loader-bg{
    background: linear-gradient(to right, lightgrey , rgb(182, 181, 181), lightgrey );
    animation: shine 2.5s linear infinite;
}

@keyframes shine{

    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }

}