@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #d61f04;
    --secondary: #fa8600;
    --accent: #156FE0;
    --accent-light: #58a3eb;
    --dark: #000f19;
    --light: #fcfcfa;
    --secondary-light: #fbae55;

    --orange-gradient-background: linear-gradient(to right, var(--secondary), var(--secondary-light));

}

body{
}

section{

}

h1, h2, h3, h4, h5, h6{
    @apply font-semibold;
}

h1{

}

.btn, button{
    @apply font-sans px-6 py-3 rounded-full text-light font-semibold border-primary border
    mx-1;
    background: var(--orange-gradient-background);
}

input{
    @apply border border-accent_light p-4 rounded-xl w-full max-w-96;
}

.sidebar .open{
    transform: translateX(0%);
    transition: ease-in-out 0.2s;
}

.sidebar .close{

    transform: translateX(-100%);
    transition: ease-in-out 0.2s;

}

.loader .loader-bg{
    background: linear-gradient(to right, lightgrey , rgb(255, 255, 255), lightgrey );
    animation: shine 2.5s linear infinite;
}

@keyframes shine{

    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }

}

.dialog-bg.open {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
}

.dialog-bg.close {
    backdrop-filter: blur(0px);
    background-color: transparent;
    display: none;
    
}

.settings ul li{
    @apply flex px-5 h-16 items-center hover:text-light hover:bg-accent_light;
}

.settings ul li i{
    @apply mx-3;
}

.settings ul>p{
    @apply bg-gray-100 px-5 text-sm text-gray-400;
}